@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>MPG Tracker</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Add a Fill Up!</h2>
        <p>
            Keep track of your car's gas mileage here!
        </p>
        <p><a class="btn btn-default" href="/Mileage/Create">Add a record</a></p>
        <p>Testing github webhook!</p>
    </div>
</div>